$xxl:1240px;
$xl:1199px;
$lg:991px;
$md:768px;
$xmd:870px;
$sm:580px;
$xs:470px;

@mixin xxl {
    @media screen and (max-width:$xxl){
        @content;
    }
}@mixin xl {
    @media screen and (max-width:$xl){
        @content;
    }
}
@mixin lg {
    @media screen and (max-width:$lg){
        @content;
    }
}

@mixin xmd {
    @media screen and (max-width:$xmd){
        @content;
    }
}

@mixin md {
    @media screen and (max-width:$md){
        @content;
    }
}
@mixin sm {
    @media screen and (max-width:$sm){
        @content;
    }
}
@mixin xs {
    @media screen and (max-width:$xs){
        @content;
    }
}