
// loader colors and offset
$loaderOffset:15px;
$loaderOffset:10px;

button.loader{
    position: relative;
    transition: none;
    &:active,&:focus{
        outline: none;
    }
    &.loading{
        color: transparent !important;
        user-select: none !important;
        cursor: not-allowed !important;
        pointer-events: none;
        opacity: 0.5;
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%,-50%);
            height: $loaderOffset;
            width: $loaderOffset;
            background: transparent;
            border-radius: 50%;
            border: 3px solid white;
            border-left: 3px solid transparent;
            animation: 0.7s roll infinite linear;
        }
    }
}
@keyframes roll{
    0%{
        transform: translate(-50%,-50%) rotate(0turn);
    }
    100%{
        transform: translate(-50%,-50%) rotate(1turn);
    }
}
